/*  your css code here. If applicable */
:root{
	background-color:rgb(135, 206, 235);
}
p:first-child{
	color:white;
	background-color:black;
}
p:nth-child(2)
{color:blue;
}
p:last-child
{color:red;
}
li:nth-child(odd){
	background-color:white;
}
li:nth-child(even){
	background-color:gray;;
}
li:nth-child(3)
{
	background-color:pink;
}
li:nth-child(1),li:last-child
{
	font-size:22px;
}
li:nth-child(3),li:last-child
{
	background-color:pink;
}



